*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 3px solid #535353;
  color: #535353;
}

h1{
  color: #535353;
  position: absolute;
  font-size: 5vmin;
  top: 3vmin;
}


.start-screen{
  color: #535353;
}

.wheel{
  font-size: 3vh;
  border: .2px solid #706f6f;
  padding: 5px;
  right: 50%;

}

.wheel:hover{
  color: #706f6f;
  font-size: 4vh;
  cursor: pointer;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  right: 5vmin;
  font-size: 3vmin;
  color: #535353;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.settings{
  color: #535353;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 3px #eceaea;
  border: 10px solid #979696;
  width: 40%;
  position: absolute;
  font-size: 4vmin;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.closeCross{
  position: absolute;
  top: 5px;
  right: 6px;
  margin: 0;
}

.closeCross:hover{
color: rgb(46, 44, 44);
background-color: #e7e2e2;
border: 1px solid rgb(37, 35, 35);
}

.mode, .cactusOn, .meteorOn, .gravity{
  display: flex;
  justify-content: center;
}

.mode {
margin-bottom: 2vw;
}

.gravity{
  margin-top: 2vw;

}

.border{
  border: 2px dotted blue;
}

.meteor {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 18%;
  bottom: 132px;
}

.wrapper{
  margin: auto;
}
