*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 3px solid #535353;
  color: #535353;
}

h1{
  color: #535353;
  position: absolute;
  font-size: 5vmin;
  top: 3vmin;
}

.wheel{
  position: absolute;
  top: 15vh;
  font-size: 3vh;
}

.wheel:hover{
  color: #706f6f;
  font-size: 4vh;
}

.start-screen{
  color: #535353;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  right: 5vmin;
  font-size: 3vmin;
  color: #535353;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

.settings{
  color: #535353;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 3px #eceaea;
  border: 1px solid #f0eded;
  position: absolute;
  font-size: 2vmin;
  padding: 15px;
  width: 30vh;
  top: 15px;
  right: 150px;

}

.mode, .cactusOn, .meteorOn{
  display: flex;
  justify-content: center;
}

.obstacles p{
  margin: 0;
}
.gravity{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gravity p{
  margin: 0;
  margin-top: 12px;
}

.border{
  border: 2px dotted blue;
}

.meteor {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 18%;
  bottom: 132px;
}
